body {
  background: #f7f9fc;
}

.calendar-container {
  gap: 10px;
}

.calendar-day {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #dee2e6;
  font-weight: 500;
  transition: 0.2s;
}

.calendar-day:hover {
  background: #e9ecef;
}

.active-day {
  background: #0d6efd !important;
  color: white !important;
  border: none !important;
  font-weight: bold;
}
